#content > #welcome-to-midnight-party > .container > #welcome > button::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: #FFF;
    display: block;
    transition: all 0.3s;
}#content > #welcome-to-midnight-party > .container > #welcome > button:hover::after{
    width: 100%;
}


.container:hover{
    cursor: pointer;
    width: 80%;
    height: 75%;
}


img:hover{
    cursor: pointer;
}

#content > #second-section > h1:hover{
    cursor: pointer;
    font-size: 6vw;
}
#content > #second-section > img:hover{
    transform: translate(0px, -10px);
}

#content > #coming-soon > .bonus-section > #circular-photo > img:hover{
    width: 45vh;
}

#content > #newsletter > .container-noshrink > #newsletter-email > button:hover{
    box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.623);
}#content > #newsletter > .container-noshrink > #newsletter-email > button:active{
    opacity: 0.8;
}
