*{
    margin: 0px;
    padding: 0px;
}

.container{
    /* width: 85%;
    height: 85.7%; */
    width: 85%;
    height: 80%;
    border-radius: 2%;
    transition: all 0.3s;
}

.container-noshrink{
    width: 85%;
    height: 80%;
    border-radius: 2%;
}.container-noshrink:hover{
    cursor: pointer;
}