main{
    display: flex;
    justify-content: center;
}

#content{
    display: flex;
    flex-direction: column;
    padding: 3.5vw 0vw 7vw 0vw;
    width: 98.3vw;
    gap: 6vw;
}

#content > #second-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: start;
    align-items: center;
    font-family: 'Inter', sans-serif;
    gap: 3vw;
}

#content > #second-section > h1{
    color: #F00;
    font-size: 5.5vw;
    font-weight: 700;
    transition: all 0.3s;
}

#content > #second-section > p{
    line-height: 3.5vw;
}#content > #second-section > p:hover{
    cursor: pointer;
}
#content > #second-section > p > #holdiday-deals{
    color: #F00;
    font-size: 1.5vw;
    font-weight: 500;
}
#content > #second-section > p > #all-catagories{
    color: #070211;
    font-size: 3vw;
    font-weight: 700;
}

#content > #second-section > img{
    width: 50vw;
    transition: all 0.3s;
}

#content > #welcome-to-midnight-party{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Merriweather', serif;
}

#content > #welcome-to-midnight-party > .container{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content > #welcome-to-midnight-party > .container > #welcome{
    width: 55%;
}

#content > #welcome-to-midnight-party > .container > img{
    height: 29vw;
}

#content > #welcome-to-midnight-party > .container > #welcome > h1{
    color: #FFF;
    font-size: 4vw;
    font-weight: 900;
    line-height: 5.5vw;
    letter-spacing: 0.44vw;
}

#content > #welcome-to-midnight-party > .container > #welcome > p{
    margin-top: 2.5vw;
    color: rgba(255, 255, 255, 0.80);
    font-size: 1.125vw;
    font-weight: 400;
    line-height: 1.875vw;
    font-family: Inter;
}
#content > #welcome-to-midnight-party > .container > #welcome > button{
    margin-top: 1.7vw;
    border: none;
    background-color: transparent;
    color: #FFF;
    text-align: center;
    font-size: 1.25vw;
    font-weight: 700;
    font-family: Inter;
    text-transform: uppercase;
}#content > #welcome-to-midnight-party > .container > #welcome > button:hover{
    cursor: pointer;
}


#content > #address-time{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: start;
}
#content > #address-time > .container-noshrink{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    gap: 3vw;
}
#content > #address-time p{
    font-family: Inter;
    font-size: 2vw;
    color: #070211;
    font-weight: 600;
    line-height: 3.5vw;
}

#content > #address-time p > span{
    color: #F00;
}

#content > #address-time > .container-noshrink > button{
    padding: 1vw 2vw;
    border-radius: 8%;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 1.25vw;
    font-weight: 700;
    background: #F00;
    transition: all 0.2s;
}#content > #address-time > .container-noshrink > button:hover{
    cursor: pointer;
    opacity: 0.8;
}#content > #address-time > .container-noshrink > button:active{
    opacity: 0.5;
}


#content > #coming-soon{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#content > #coming-soon > .bonus-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 80%;
}
#content > #coming-soon > .bonus-section > #circular-photo{
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
    border-style: solid;
    border-width: 1vw;
    border-color: #F00;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content > #coming-soon > .bonus-section > #circular-photo > img{
    width: 42vh;
    transition: all 0.4s;
}

#content > #coming-soon > .bonus-section > .writings{
    width: 27%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

#content > #coming-soon > .bonus-section > .writings > h2{
    color: #F00;
    font-family: Inter;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 500;
}
#content > #coming-soon > .bonus-section > .writings > #new-best-offer{
    color: #070211;
    font-family: Merriweather;
    font-size: 3vw;
    font-weight: 900;
}

#content > #coming-soon > .bonus-section > .writings > #year{
    color: #F00;
    font-family: Inter;
    font-size: 3vw;
    font-weight: 700;
}

#content > #coming-soon > .bonus-section > .writings > p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 1.15vw;
    font-weight: 400;
    line-height: 2vw;
}

#content > #coming-soon > .bonus-section > .writings > img{
    margin-top: 1vw;
    width: 8vw;
}

#content > #holiday-sales{
    display: flex;
    flex-direction: column;
    gap: 1.75vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 5vw;
}
#content > #holiday-sales > .headings > h2{
    color: #070211;
    font-family: Inter;
    font-size: 1.5vw;
    font-weight: 500;
    margin-bottom: 1vw;
}
#content > #holiday-sales > .headings > h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 4.5vw;
    font-weight: 900;
}
#content > #holiday-sales > .headings > h1 > span{
    color: #F00;
}

#content > #holiday-sales > p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 1.25vw;
    font-weight: 500;
    line-height: 2vw;
    width: 65%;
}



