main{
    display: flex;
    justify-content: center;
}

#content{
    display: flex;
    flex-direction: column;
    padding: 3.5vw 0vw 7vw 0vw;
    width: 98.3vw;
    gap: 6vw;
}

#content > #second-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: start;
    align-items: center;
    font-family: 'Inter', sans-serif;
    gap: 3vw;
}

#content > #second-section > h1{
    color: #F00;
    font-size: 5.5vw;
    font-weight: 700;
}

#content > #second-section > p{
    line-height: 3.5vw;
}
#content > #second-section > p > #holdiday-deals{
    color: #F00;
    font-size: 1.5vw;
    font-weight: 500;
}
#content > #second-section > p > #all-catagories{
    color: #070211;
    font-size: 3vw;
    font-weight: 700;
}

#content > #second-section > img{
    width: 50vw;
}

#content > #welcome-to-midnight-party{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Merriweather', serif;
}

#content > #welcome-to-midnight-party > .container{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content > #welcome-to-midnight-party > .container > #welcome{
    width: 55%;
}

#content > #welcome-to-midnight-party > .container > img{
    height: 29vw;
}

#content > #welcome-to-midnight-party > .container > #welcome > h1{
    color: #FFF;
    font-size: 4vw;
    font-weight: 900;
    line-height: 5.5vw;
    letter-spacing: 0.44vw;
}

#content > #welcome-to-midnight-party > .container > #welcome > p{
    margin-top: 2.5vw;
    color: rgba(255, 255, 255, 0.80);
    font-size: 1.125vw;
    font-weight: 400;
    line-height: 1.875vw;
    font-family: Inter;
}
#content > #welcome-to-midnight-party > .container > #welcome > button{
    margin-top: 1.7vw;
    border: none;
    background-color: transparent;
    color: #FFF;
    text-align: center;
    font-size: 1.25vw;
    font-weight: 700;
    font-family: Inter;
    text-transform: uppercase;
}#content > #welcome-to-midnight-party > .container > #welcome > button:hover{
    cursor: pointer;
}


#content > #address-time{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: start;
}
#content > #address-time > .container-noshrink{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    gap: 3vw;
}
#content > #address-time p{
    font-family: Inter;
    font-size: 2vw;
    color: #070211;
    font-weight: 600;
    line-height: 3.5vw;
}

#content > #address-time p > span{
    color: #F00;
}

#content > #address-time > .container-noshrink > button{
    padding: 1vw 2vw;
    border-radius: 8%;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 1.25vw;
    font-weight: 700;
    background: #F00;
}
