#content > #portfolio{
    display: flex;
    justify-content: center;
    align-items: center;
}

#content > #portfolio > .container-portfolio > .portfolio-texts > h2{
    color: #F00;
    font-family: Inter;
    font-size: 1.5vw;
    font-weight: 500;
    margin-bottom: 1vw;
}

#content > #portfolio > .container-portfolio > .portfolio-texts > .portfolio-newsletter-texts{
    width: 67%;
}
#content > #portfolio > .container-portfolio > .portfolio-texts{
    margin-bottom: 3vw;
}


#content > #portfolio > .container-portfolio > .products{
    display: flex;
    margin-bottom: 1.5vw;
    gap: 1.5vw;
}
#content > #portfolio > .container-portfolio > .products > div{
    width: 26.5vw;
    height: 28.125vw;
    border-radius: 3%;
    transition: all 0.2s;
}

#product-1{
    background-image: url('../resources/Rectangle\ 3.png');
    background-size: cover;
    background-position: center;
}
#product-2{
    background-image: url('../resources/Rectangle\ 4.png');
    background-size: cover;
    background-position: center;
}
#product-3{
    background-image: url('../resources/Rectangle\ 5.png');
    background-size: cover;
    background-position: center;
}
#product-4{
    background-image: url('../resources/Rectangle\ 6.png');
    background-size: cover;
    background-position: center;
}
#product-5{
    background-image: url('../resources/Rectangle\ 7.png');
    background-size: cover;
    background-position: center;
}
#product-6{
    background-image: url('../resources/Rectangle\ 8.png');
    background-size: cover;
    background-position: center;
}